@model Room
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/hosteladmin/css/bootstrap.css" rel="stylesheet" />
<link href="~/hosteladmin/css/main.css" rel="stylesheet" />


<div class="" style="height:700px; padding:150px 0 200px 0; ">
    <div class="col-md-4" style="padding-bottom:50px;">
        <div class="form-group">
            <div class="col-md-6">
                <label class="control-label">Room Number:</label>
            </div>
            <input type="hidden" id="roomId" value="@Model.ID" />
            <div class="col-md-6" style="text-align:center;">
                <label class="control-label" style="color:#7E7E7E;">@Model.RoomNumber</label>
            </div>
        </div>
        <div class="form-group" style="padding-top:30px;">
            <div class="col-md-6">
                <label class="control-label">Category:</label>
            </div>
            <div class="col-md-6" style="text-align:center;">
                <label class="control-label" style="color:#7E7E7E;">@Model.Category.CategoryName</label>
            </div>
        </div>
        <div class="form-group" style="padding-top:30px;">
            <div class="col-md-6">
                <label class="control-label">Bed Count:</label>
            </div>
            <div class="col-md-6" style="text-align:center;">
                <label class="control-label bed-count" style="color:#7E7E7E;">@Model.BedCount</label>
            </div>
        </div>
        <div class="form-group" style="padding-top:30px;">
            <div class="col-md-6">
                <label class="control-label">Breakfast:</label>
            </div>
            <div class="col-md-6" style="text-align:center;">
                <label class="control-label" style="color:#7E7E7E;">@Model.Breakfast</label>
            </div>
        </div>
        <div class="form-group" style="padding-top:30px;">
            <div class="col-md-6">
                <label class="control-label">WI-FI:</label>
            </div>
            <div class="col-md-6" style="text-align:center;">
                <label class="control-label" style="color:#7E7E7E;">@Model.WiFi</label>
            </div>
        </div>
        <div class="form-group room-order" style="padding-top:30px;">
            <div class="col-md-6">
                <label class="control-label">Price:</label>
            </div>
            <div class="col-md-6" style="text-align:center;">
                <label class="control-label price" style="color:#7E7E7E;">@Model.Price</label>
            </div>
            <div class="col-md-6">
                <label class="control-label">Resreved:</label>
            </div>
            <div class="col-md-6" style="text-align:center;">
                @{
                    bool isReserved = Model.IsReserved;
                }
                @if (isReserved == true)
                {
                    <label class="control-label" style="color:#7E7E7E;">Yes</label>
                }
                @if (isReserved == false)
                {
                    <label class="control-label" style="color:#7E7E7E;">No</label>
                }
            </div>
        </div>
        <div class="form-group" style="padding-top:30px;">
            <div class="col-md-6">
                <label class="control-label">Description:</label>
            </div>
            <div class="col-md-6" style="text-align:center;">
                <label class="control-label" style="color:#7E7E7E;">@Model.Description  </label>
            </div>
        </div>
    </div>
    <div class="col-md-8" style="padding-bottom:50px;">
        <div id="slider">
            <div class="images">
                @for (int i = 0; i < Model.RoomImages.Count(); i++)
                {
                    <div class="item @(i == 0 ? "active" : "")">
                        <img src="~/images/room/@Model.RoomImages.ElementAt(i).Image" alt="slider image ">
                    </div>
                }
            </div>
            <div class="icon left" id="left">
                <i class="fas fa-chevron-left"></i>
            </div>

            <div class="icon right" id="right">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
    </div>
    <form asp-action="Index" asp-controller="Orders" method="post" class="container-fluid">
        <div class="row">
            <input type="hidden" name="roomId" value="@Model.ID" />
            <div class="col-md-6 col-lg-3">
                <div class="input-group date mg-check-in">
                    <div class="input-group-addon"><i class="far fa-calendar-alt"></i></div>
                    <input name="startDate" class="form-control checkIn" type="text" id="exampleInputEmail1" placeholder="Check In" autocomplete="off">
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="input-group date mg-check-out">
                    <div class="input-group-addon"><i class="far fa-calendar-alt"></i></div>
                    <input name="endDate" class="form-control checkOut" type="text" id="exampleInputEmail1" placeholder="Check Out" autocomplete="off">
                </div>
            </div>
            <div class="col-md-12 col-lg-3">
                <div class="row">
                    <div class="col-6">
                        <select name="count" style="padding:0 0 0 10px; height:32px;" class="form-control" id="count">
                            <option value="">Count</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="col-md-12 col-lg-3">
                <input type="submit" class="btn btn-main btn-block" value="Order" id="check">
            </div>
        </div>
    </form>
</div>
<script src="~/js/jquery.min.js"></script>
<script src="~/hosteladmin/js/main.js"></script>
<script src="~/js/main.js"></script>